/* SVG Icons base styles */

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/*--------------------------------------------------------------
SVG Fallbacks
--------------------------------------------------------------*/

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

.no-svg .nav-links .svg-fallback {
	padding: 0 .5em;
	color: inherit;
	background: inherit;
}

.no-svg .svg-fallback.icon-arrow-left:before {
	content: "←";
}

.no-svg .svg-fallback.icon-arrow-right:before {
	content: "→";
}

.no-svg .svg-fallback.icon-arrow-up:before {
	content: "⇑";
  position: absolute;
  top: 7px;
  right: 12px;
  
  @media screen and (min-width: $query__small){
    top: 10px;
    right: 15px;
  } 
}

/* Social Menu fallbacks */

.no-svg .social-menu a {
	height: auto;
	width: auto;
}

.no-svg .social-menu li a .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}
