.archive-view {
  background-color: $color__background-pre;
  
    .post,
    .page {
      position: relative;
      background: #fff;
      box-shadow: 12px 12px 20px 0 rgba(46,61,73,.15);
    }
    
    .post__content {
      padding: 1.5em;
    }
    
    @media screen and (min-width: $query__medium) {
      &.has-sidebar {
        .site-content {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;        
        }
        
        .post,
        .page {
          margin-right: 1em;
        }
        
        .page-header {
          width: 100%;
          flex: 1 0 100&;
        }
        
        .content-area {
          width: $size__ratio-large;
        }
        #secondary {
          width: $size__ratio-small;
        }
      }
    }
}

.page-title {
  margin: 0 0 .8em;
}

.archive-description {
  margin: -1em 0 2em;
}

/* For content-none.php */
.search,
.error-404 {
	
	.page-content {
		margin-bottom: 2em;
		padding: 1em 2em;
		font-family: $font__sans;
		color: white;
		background: $color__interactive;
	}
	
	input[type="search"] {
		padding: .5em;
	}
	input[type="submit"] {
		border-color: white;
		color: white;
		
		&:focus,
		&:hover {
			color: $color__text-screen;
		}
	}
}

.sticky::before {
  content: "Featured";
  display: inline-block; 
  position: absolute;
  top: 0px;
  float: right;
  color: #fff;
  background: $color__interactive;
  padding: 1px 6px;   
  text-transform: uppercase;
  font-style: italic;
}

.index-image {
  img {
    display: block;
    margin: 0 auto;    
   
    
    &:focus,
      &:hover {
        opacity: .8;
    }      
  } 
}


.read-more {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: $font__sans;	
  
	a {   
		display: block;
		padding: .5em 1em;
		font-size: 90%;
		text-decoration: none;
		background: hsl(0, 0%, 85%);   
		
		&:focus,
		&:hover {
			color: white;
			background: $color__interactive;
		}
	}	
}
