.site-footer {
	position: relative;
	padding: 1em;
	font-family: $font__sans;
  font-size: 80%;
	color: #fff;
	background-color: $color__skin;
  text-align: center;
  a {
    color: white;
      &:hover,
       &:focus, {
        color: $color__interactive;          
      }
  }
  
  @media screen and (min-width: $query__small) {
		padding: 1em 2em;
 
	}
}

.site-footer__wrap {
	max-width: 100%;
	margin: 0 auto;

	@media screen and (min-width: $query__medium) {
		display: flex;
		justify-content: space-between;
	}
}

.site-info {
	margin: 1em 0 1em auto;
	align-self: center;

	@media screen and (min-width: $query__medium) {
		text-align: right;

		span {
			display: block;

		}
	}
}

.social-menu {
  margin: 1em 0;
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
     a {
       display: block;
       padding: .5em 1em;
       
    }     
  } 
}

.topbutton {
  display: none; 
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 20px;
  color: #fff;
  text-align: center;
  background: $color__interactive; 
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.2s ease-in-out 0s;
  outline: 0;
    
    svg {
      top: 4px;      
    }
  
    &:hover,
      &:focus {      
        color: #fff;
        svg {
          animation: arrow-up 1.5s infinite;
          animation-timing-function: linear;
      }
    }
    
    &:visited {
        color: #fff;
    }
     
    
    @keyframes arrow-up {
    0% {top: 4px;}
    25% {top: 1px;}
    75% {top: 9px;}
    100% {top: 4px;}
    
    }
 
  @media screen and (min-width: $query__small) {
    width: 50px;
    height: 50px;
      svg {
        top: 8px;      
      }
  }
}

