.header-image {
  max-height: 60vh;
  overflow: hidden; 
        
  img {
    display: block;
    width: 100vw;    
  }
}

.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__sans;
  font-size: 70%;
	color: #fff;
	background-color: $color__skin;
  z-index: 999;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  
	
	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
    font-size: 100%;
	}
}

.site-branding {
  display: flex;
	min-height: 75px;
  flex: 1 0 auto;
}

.custom-logo-link {
    margin-right: .5em;
    
  img {
    display: block;
    height: 75px;
    width: auto;
  }
}

.site-branding__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75px;
}

.site-title {
	margin: 0;
	padding: 0;	
	font-weight: 700;
	line-height: 1em;
	
	a {
		color: white;		
		
		&:hover,
		&:focus {
			color: $color__interactive;
		}
	}
}

.site-description {
	margin: 0;
	font-size: 1.2em;
	font-style: italic;
	font-weight: 100;
}

@media screen and (min-width: $query__medium) {
  .site-header {
    display: flex;
    justify-content: space-between;
  }
  
  .site-branding  {
    width: 45%;
  }
  
  .main-navigation {
    width: 55%;
  }    
}

/*Header
*/

@import "header-menu";
