.main-navigation {
	display: block;	
	font-family: $font__sans;
	font-weight: 400;
	clear: left;
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-top: 1em;
		padding-left: 0;

		ul {
			display: none;
			top: 1.5em;
			z-index: 99999;

			ul {
				top: 0;
			}

			li {
				padding-left: 1em;
				
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
	}

	a {
		display: inline-block;
		width: 100%;
		padding: .5em 1em .5em 0;
		text-decoration: none;
		color: #fff;
	}
	
	a:hover,
	a:focus {
		text-decoration: none;
    color: #b94a48;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
   color: #b94a48;
	}
	
	.menu-item-has-children,
	.page-item-has-children {
		min-width: 150px;
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 2em;
	}
}

.main-nav-scrolled {
  position: fixed; 
  top: 0;
  width: 100%;
  padding-top: .3em;
  padding-bottom: .3em;
    .site-branding {
      font-size: 70%;
     }
     .custom-logo-link img {
       height: 65px;
     }
}

button.dropdown-toggle {
	position: absolute;
  width: 40px;
	right: 0;
  border: none;
	background: inherit;
	color: white;	
  
  &:hover,
	&:active,
	&:focus {		 
    outline: none;
  }
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin: 2.2em 1.2em 0 0;
	padding: .6em .8em;
	font-size: 80%;
	text-transform: uppercase;
	color: white;
	border: 2px solid white;
  background: none;    
  }

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    margin: 4px 2px; 
    z-index: 50;
}


/* Toggle small menu and sub-menus on */
.toggled-on ul,
.children.toggled-on,
.sub-menu.toggled-on {
	display: block;
}

@media screen and (min-width: 899px) {
	.menu-toggle {
		display: none;
	}
	
	.main-navigation {
		
		.menu-item-has-children > a,
		.page_item_has_children > a {
			padding-right: 2em;
			background: hsla(0, 0%, 100%, .1);
		}
		
		ul {
			display: block;
			display: flex;
			flex-wrap: wrap;
			
			ul {
				flex-direction: column;
				background: hsla(0, 0%, 100%, .1);
				margin-left: 0;

				li {
					padding-left: 0;
					
					a {
						width: 150px;
						background: none;
					}
				}
			}
			
			li {
					
				a {
					padding: .4em 1em; 
				}
			}
		}
		
	}
}

@media screen and (min-width: $query__medium) {
	.main-navigation {
		
		ul {
			justify-content: flex-end;
			padding-top: 0;
		}
		
	}
}

