$color__skin: #002254; //Header etc
$color__interactive: #eb4646;

$color__background-body: #ffeded;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer-widgets: #eb4646;

$color__text-screen: #666;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #666;
$color__link-visited: #666;
$color__link-hover: $color__interactive;
$color__text-main: #666;

$color__border-button: #ccc;
$color__border-button-hover: #bbb;
$color__border-button-focus: #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
