.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
	padding: 1em 0;
	font-family: $font__sans;
	text-align: left;
	overflow: hidden;
	
	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		border: 1px solid hsl(0, 0%, 80%);

		&:hover,
		&:focus {
			color: white;
			border-color: $color__interactive;
			background: $color__interactive;
		}
	}
	
}

.nav-links {
	margin: 0 auto;
	padding: 0;
}

.nav-previous,
		.nav-next {
			float: left;
			display: flex;
			justify-content: space-between;
      width: 48%;
		}

.nav-next {
			float: right;
			text-align: right;
		}

.post-navigation {
	
	.meta-nav {
		display: block;
	}
	
	@media screen and (min-width: 30em) {
		padding-bottom: 1em;
	}
	
	.post-title {
		font-size: 1.2em;
		font-weight: 700;
		border-bottom: 2px solid $color__interactive;
	}
	
	a:hover .post-title,
	a:focus .post-title{
		border-bottom-color: white;
	}
	
} 