.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.cat-links {
  font-size: 90%;
  font-weight: 700;
  
  a {
    text-transform: uppercase;
  }
    
  :nth-child(n+2) {
    &:before {
      content: "|";
      margin: 0 .5em;
      }
    }
}

.entry-meta,
.tags-links {
  font-size: 90%;
  
  a {
  font-weight: 700;
  }
}


.entry-title {
  margin: .125em 0 .75em;  
}

.byline {
  &::after {
    content: "|";
    margin: 0 .5em;
  }
}

.comments-link {
  &::before {
    content: "|";
    margin: 0 .5em;
  }
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.extra {
	display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {
	
	.entry-meta {
		margin-top: 1.5em;    
	}
	
	@media screen and (min-width: $query__medium) {
		.post-content__wrap {
			
			.entry-meta {
				margin-top: 2.25em;				

				a {
					font-size: 110%;
					display: block;					

					&:hover,
					&:focus {
						color: $color__interactive;
					}
				}
			}

			.byline,
			.posted-on,
			.comments-link,
			.edit-link {
				display: block;
				margin-bottom: 1em;

				&:before,
				&:after {
					margin: 0;
					content: "";
				}
			}

			.extra {
				display: inline;
			}
		}

	}	
}



